---
import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    <Social
      platform="GitHub"
      username="ronsj"
    />
    <Social
      platform="LinkedIn"
      username="in/ronsanjose"
    />
    <Social
      platform="Figma"
      username="@ronsj"
    />
  </p>
</footer>
